version: "3.9"

services:
  server:
    build:
      context: ./server
    ports:
      - "2567:2567"
    environment:
      - NODE_ENV=development
    volumes:
      - ./server:/app
      - /app/node_modules
    command: npm run dev
